:root {
  --bg-dark: oklch(0.1 0.025 203);
  --bg: oklch(0.15 0.025 203);
  --bg-light: oklch(19.904% 0.02433 204.929);
  --bg-glass: oklch(19.904% 0.02433 204.929 / 0.5);

  --text: oklch(0.96 0.05 203);
  --text-muted: oklch(0.76 0.05 203);

  --highlight: oklch(0.5 0.05 203);
  --border: oklch(0.4 0.05 203);
  --border-muted: oklch(0.3 0.05 203);

  --primary: oklch(0.76 0.1 203);
  --secondary: oklch(0.76 0.1 23);
  --danger: oklch(0.7 0.05 30);
  --warning: oklch(0.7 0.05 100);
  --success: oklch(0.7 0.05 160);
  --info: oklch(0.7 0.05 260);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
span {
  color: var(--text);
}

h2,
p,
label {
  color: var(--text-muted);
}

hr {
  border: 1px solid var(--highlight);
}

input {
  padding: 0.5rem;
  border: 1px solid var(--border);
  background-color: var(--bg-light);
  color: var(--text);
  border-radius: 0.5rem;
  font-size: 1.5rem;
  width: 100%;
}

input:focus {
  border: 2px solid var(--highlight);
}

input:user-invalid {
  border: 2px solid var(--danger);
}

button {
  padding: 1rem 2rem;
  border-radius: 2rem;
  outline: none;
  font-weight: bold;
  transition: background-color 0.5s;
}

body {
  background-color: var(--bg-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg);
  border-top: 1px solid var(--border);
  border: 1px solid var(--border);
  border-radius: 1.5rem;
  width: 50%;
  margin-top: 1.5rem;
  padding: 1.5rem;
  box-shadow: 2px 2px 4px var(--highlight);
}

header .scoreboard {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  margin: 0.5rem;
}

main .board-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: clamp(320px, 60%, 640px);
  aspect-ratio: 1/1;
  gap: 0.5rem;
  overflow: hidden;
  border: 2px solid var(--border);
  border-radius: 2rem;
  box-shadow: 0px 0px 8px var(--highlight);
}

.board-grid .board-cell {
  background-color: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(2rem, 2vw + 3rem, 5rem);
  transition: background-color 0.3s;
}

.board-cell:hover {
  cursor: pointer;
  background-color: var(--bg-light);
}

.win {
  background-color: var(--success) !important;
}

.marker {
  text-shadow: 2px 2px 4px var(--highlight);
  animation: pop-up 0.3s ease-out;
}

.result-overlay {
  width: clamp(320px, 60%, 640px);
  aspect-ratio: 1/1;
  position: absolute;
  background-color: var(--bg-glass);
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  font-size: clamp(1.5rem, 1vw + 1rem, 2rem);
  border: 2px solid var(--border);
  box-shadow: 0 0 128px var(--highlight);
  border-radius: 2rem;
  backdrop-filter: blur(10px);
  animation: glass 2s ease-in-out;
}

.button-group .rematch-btn {
  background-color: var(--primary);
}

.button-group .restart-btn {
  background-color: var(--secondary);
}

.rematch-btn:hover {
  background-color: var(--bg-dark);
  border: 2px solid var(--primary);
  color: var(--primary);
}

.restart-btn:hover {
  background-color: var(--bg-dark);
  border: 2px solid var(--secondary);
  color: var(--secondary);
}

#start-menu {
  align-self: center;
  justify-self: center;
  padding: 1.5rem;
  border: 2px solid var(--border);
  border-radius: 2rem;
  background-color: var(--bg);
  box-shadow: 2px 2px 4px var(--highlight);
}

#start-menu::backdrop {
  background-color: var(--bg-glass);
  backdrop-filter: blur(10px);
}

#start-menu .dialog-description {
  text-align: center;
}

.dialog-description h1 {
  font-size: clamp(1.5rem, 2vw + 3rem, 5rem);
  text-shadow: 0 0 8px var(--highlight);
  margin-bottom: 2rem;
}

.dialog-description p {
  width: 60%;
  margin: 0 auto;
}

.dialog-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.player-name {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  margin-top: 2rem;
}

.player-name:first-child::after {
  content: "✖️";
}

.player-name:nth-child(2)::after {
  content: "⭕";
}

.submit-btn button {
  font-size: 2rem;
  background-color: var(--primary);
}

.submit-btn button:hover {
  background-color: var(--bg-dark);
  color: var(--primary);
  border: 2px solid var(--primary);
  box-shadow: 0 0 8px var(--highlight);
}

footer {
  text-align: center;
  color: var(--text);
  background-color: var(--bg);
  width: 100%;
  padding: 1.5rem;
  border-top: 1px solid var(--border);
}

@keyframes pop-up {
  from {
    scale: 0.5;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}

@keyframes glass {
  from {
    opacity: 0;
    backdrop-filter: blur(0px);
    box-shadow: 0 0 4px var(--highlight);
  }
  to {
    opacity: 1;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 128px var(--highlight);
  }
}
